<!DOCTYPE html>
<html>
<head>
  <title>BrandName</title>
  <%%= stylesheet_link_tag "application" %>
  <%%= javascript_include_tag "application" %>
  <%%= csrf_meta_tags %>
  <script type="text/javascript">
      $(function() {
         $(".edit_link").click(function(){
              $.get("<%%=params[:controller]%>"+"/"+$(this).attr("id")+"/edit?get=1",function(data){

                  $("#edit_form .modal-body").html(data);
                    $("#edit_form").modal('toggle');
       
          }) ;
      });
      });
  </script>
  <%%= yield(:head) %>
  <style>
      table td {
          border: none;
      }

      table tr {
          border: none;
      }
  </style>
</head>
<body>
<div id="wrapper">
  <div class="topbar" style="z-index: 999999999">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">BrandName</a>
        <ul class="nav">
          <!--<li><a href="#about" style="color:white;">About</a></li>-->
          <!--<li><a href="#contact" style="color:white;">Contact</a></li>-->
        </ul>

        <%% if !user_signed_in? %>
            <%%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "pull-right"}) do |f| %>
                <%%= f.email_field :email, :class=>"input-small", :placeholder=>"Email" %>
                <%%= f.password_field :password, :class=>"input-small", :placeholder=>"Password" %>
                <%%= f.submit "Sign In", :class=>"primary btn" %>
            <%% end %>
        <%% else %>
            <div class="pull-right" style="margin-top: 10px;color:white;">
              <%%= current_user.email %>
              <span class="nav_link">
              | <%%= link_to "Sign out", destroy_user_session_path, :method => :delete, :style=>"color:white;" %>
            </span>
            </div>
        <%% end %>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="page-header" style="height:100px"></div>
    <div style="position:absolute;margin-top: -110px;" class="span16">
      <%%= yield(:page_header) %>
    </div>

    <div class="content">
      <%%= js extend_gritter :position => :bottom_right %>
      <%%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
      <%%= js add_gritter(flash[:alert], :image => :warning, :title => "Alert!", :sticky => false, :time => 2000) %>
      <%%= yield %>
    </div>

    <%% if request.fullpath=="/" %>

       

    <%% end %>
  </div>
</div>

<%%= javascript_include_tag "/assets/exclusions/jquery.pageslide" %>


</body>
</html>
